<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<link rel="stylesheet" href="css/style.css">
</head>

<body>
<header class="bg-dark">
<div class="container header">
  <h3 class="">Galeria de Imagenes</h3>
</div>
</header>
<main>
<div class="container ">
  <div class="container d-flex align-content-center">
  </div>
  <div class="row mb-2">
    <div class="col-md-5">
      <a href="/imagenes" class="btn btn-sm btn-outline-info ">Inicio</a>
        <a href="/subir" class="btn btn-sm btn-outline-success ">Subir</a>
    </div>
</div>
  <div id="carouselExample" class="carousel slide " id="completo">
    <div class="carousel-inner" id="galeria">
      <div class="carousel-item active">
        <img src="css/images/js.jpg" class="d-block h-100 w-100" id="img" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
</main>
<br>
<footer class="bg-dark">
  <br>
<span>2023. Todos los derechos reservados</span>
</footer>
<!-- Bootstrap JavaScript Libraries -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
</script>
<script src="/js/app.js"></script>
</body>

</html>